<div class="container">
<h2>app component</h2>
<div class="row">
    <div class="col-xs-6">
        <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
    </div>
</div>
Parent Component: {{ intervalFired }}
<div class="row">
    <div class="col-xs-6">
  <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd> {{  oddNumber }} {{ number }}
  <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even> {{  evenNumber }} {{ number }}

</div>
</div>